@model GRHelper.Web.ViewModels.Administration.Reservations.AllReservationsViewModel
@{
    this.ViewData["Title"] = "All Reservations";
}

<h1>All present and future reservations</h1>

<h2>There are @Model.ReservationsCount reservations.</h2>

<partial name="_SearchBarPartial" />

<div>
    <button id="createReservationBtn" class="btn btn-info">
        <a asp-area="Administration" asp-controller="Reservations" asp-action="Create" title="Create reservation" style="color: white">
            Create New
        </a>
    </button>
    <button id="createReservationBtn" class="btn btn-outline-info" style="float: right">
        <a asp-area="Administration" asp-controller="Reservations" asp-action="Archive" title="View archive">
            Archive
        </a>
    </button>
</div>

<partial name="_PaginationPartial" />

<hr />
<partial name="_ReservationsTablePartial" />
<hr />

<partial name="_PaginationPartial" />