@model GRHelper.Web.ViewModels.Administration.Reservations.AllReservationsViewModel
@{
    this.ViewData["Title"] = "Past Reservations";
}

<h1>Past Reservations</h1>
<h2>There are @Model.ReservationsCount reservations.</h2>
<hr />
<div>
    <button id="createReservationBtn" class="btn btn-outline-info">
    <a asp-area="Administration" asp-controller="Reservations" asp-action="All" title="View active reservations">
        See present and future reservations
    </a>
</button>
</div>
<partial name="_PaginationPartial" />

<hr />
<partial name="_ReservationsTablePartial" />
<hr />

<partial name="_PaginationPartial" />
