@model GRHelper.Web.ViewModels.Administration.Reservations.EditReservationInputModel
@{
    this.ViewData["Title"] = "Edit reservation";
}

<h1>Create a new reservation</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="From"></label>
        <input asp-for="From" class="form-control" placeholder=@Model.From />
        <span asp-validation-for="From" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="To"></label>
        <input asp-for="To" class="form-control" placeholder=@Model.To />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdultsCount"></label>
        <input asp-for="AdultsCount" class="form-control" value=@Model.AdultsCount />
        <span asp-validation-for="AdultsCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChildrenCount"></label>
        <input asp-for="ChildrenCount" class="form-control" value=@Model.ChildrenCount />
        <span asp-validation-for="ChildrenCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VillaNumber"></label>
        <input asp-for="VillaNumber" class="form-control" value=@Model.VillaNumber />
        <span asp-validation-for="VillaNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" value=@Model.Email />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button>
</form>
