/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#reservationDetailsTable td span {
    color: blueviolet;
}

article.categoryArticle {
    display: inline-block;
    width: 32%;
    height: 150px;
    margin-left: 5px;
    margin-top: 15px;
}

    article.categoryArticle a {
        height: 100%;
    }

        article.categoryArticle a:hover {
            text-decoration: none;
            opacity: 0.7;
        }

    article.categoryArticle img {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    article.categoryArticle p {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        color: antiquewhite;
        background-color: lightslategrey;
        font-weight: 400;
        font-size: x-large;
        text-align: center;
    }

#newRequestNavigation {
    margin-top: 30px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: beige;
}

#categoryArticles {
    margin-top: 5px;
    margin-bottom: 15px;
}

#noReservations {
    margin-top: 30px;
    padding: 10px;
    width: 70%;
    border-style: solid;
    border-radius: 10px;
    border-color: beige;
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
