@{
    this.ViewData["Title"] = "Admin corner";
}

<h1>@this.ViewData["Title"]</h1>
<h2>Hi! Your guests will be happy that you are here!</h2>
<hr />
<div id="AdminMenu" col-md=4>
    <h4>Quick actions</h4>
    <a asp-area="Administration" asp-controller="Reservations" asp-action="Create" class="btn btn-info">
        New Reservation
    </a>
    <a asp-area="Administration" asp-controller="Requests" asp-action="Pending" class="btn btn-info ml-5">
        See pending requests
    </a>
     <a asp-area="Administration" asp-controller="Reservations" asp-action="Create" class="btn btn-info ml-5">
        Chats
    </a>
</div>
<hr />
<div id="unhandledRequests">
    
    <h4>There are unhandled <a class="nav-link text-info" asp-area="Administration" asp-controller="Requests" asp-action="Pending">requests</a>. Your guests are counting on you! </h4>
</div>