@{
    this.ViewData["Title"] = "Admin corner";
}

<h1>@this.ViewData["Title"]</h1>
<div id="AdminMenu" col-md=4>
    <button id="NewReservation">
        New Reservation
    </button>
    <button id="Requests">
        Requests
    </button>
</div>