<div id="newRequestNavigation">
    <h3>Make a new request</h3>
    <h5 style="color: slategrey">
        What kind of services may we assist you with?
    </h5>
    <div id="categoryArticles" class="text-center">
        <article class="categoryArticle">
            <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Dining">
                <img src="https://previews.123rf.com/images/miguelpuga/miguelpuga1503/miguelpuga150300005/37119889-delicious-gourmet-food-on-dish.jpg">
                <p>Dining</p>
            </a>
        </article>
        <article class="categoryArticle">
            <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Housekeeping">
                <img src="https://cdn2.hubspot.net/hubfs/364394/blogs/CTPE/blog-images/020420-housekeeping-secrets-for-a-cleaner-hotel-and-repeat-guests/housekeeping-secrets-for-a-cleaner-hotel-and-repeat-guests-inline-3.jpg">
                <p>Housekeeping</p>
            </a>
        </article>
        <article class="categoryArticle">
            <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Transport">
                <img src="https://officialharbourisland.com/wp-content/uploads/2019/05/GOLF-CART-2.jpg">
                <p>Transportation</p>
            </a>
        </article>
    </div>
</div>
