@model IEnumerable<GRHelper.Web.ViewModels.Guests.Requests.RequestListViewModel>

@{
    this.ViewData["Title"] = "My Requests";
}

<h2>My Requests</h2>
<hr />
<partial name="_NewRequestPartial" />
<hr />
<partial name="_RequestsTablePartial" />
<hr />
<a asp-controller="Requests" asp-action="MyRequests" asp-route-id=@ViewData["ShowType"] class="btn btn-info">@ViewData["ShowType"]</a>