@using GRHelper.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model int
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vaya Beach Resort!</h1>
    <hr />
    <h4>Your Guest Relations Team is here to make your vacation experience incredible!</h4>
</div>
<hr />

@if (SignInManager.IsSignedIn(this.User))
{
    <div id="unlockedReservations">
    You have @Model unlocked reservations.
    </div>

}
else
{
    <div id="notLoggedInDiv" class="align-self-center mx-auto align-content-center text-center" style="width:60%">
         <h4>You are not logged in. To manage your requests to our Guest Relations Team, please 
        <a class="text-info" asp-area="Identity" asp-page="/Account/Register">login</a> or 
        <a class="text-info" asp-area="Identity" asp-page="/Account/Login">register</a>.
        </h4>
    </div>
}
