@using GRHelper.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model int
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vaya Beach Resort!</h1>
    <hr />
    <h3>Your Guest Relations Team is here to make your vacation experience incredible!</h3>
</div>
<hr />

@if (SignInManager.IsSignedIn(this.User))
{
    if (@Model != 0)
    {
        <div id="unlockedReservations" class="align-self-center mx-auto mt-5 align-content-center text-center" style="border-style: solid; border-radius: 10px; border-color: darkslategrey; background-color: lightgrey">
            <h3>You have <a asp-controller="Reservations" asp-action="UnlockedReservations" title="Go to unlocked reservations">@Model</a> unlocked reservation/s.</h3>
        </div>
    }
    <div id="newRequestNavigation">
        <h3>Make a new request</h3>
        <h5 style="color: slategrey">
            What kind of services may we assist you with?  
        </h5>
        <div id="categoryArticles" class="text-center">
            <article class="categoryArticle">                
                <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Dining">
                    <img src="https://previews.123rf.com/images/miguelpuga/miguelpuga1503/miguelpuga150300005/37119889-delicious-gourmet-food-on-dish.jpg">
                    <p>Dining</p>
                </a>
            </article>
            <article class="categoryArticle">
                <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Housekeeping">
                    <img src="https://cdn2.hubspot.net/hubfs/364394/blogs/CTPE/blog-images/020420-housekeeping-secrets-for-a-cleaner-hotel-and-repeat-guests/housekeeping-secrets-for-a-cleaner-hotel-and-repeat-guests-inline-3.jpg">
                    <p>Housekeeping</p>
                </a>                
            </article>
            <article class="categoryArticle">
                <a asp-controller="HotelServices" asp-action="ShowHotelServices" asp-route-id="Transport">
                    <img src ="https://officialharbourisland.com/wp-content/uploads/2019/05/GOLF-CART-2.jpg">
                    <p>Transportation</p>    
                </a>                
            </article>            
        </div>
    </div>
}
else
{
    <div id="notLoggedInDiv" class="align-self-center mx-auto align-content-center text-center" style="width:60%">
        <h4>
            You are not logged in. To manage your requests to our Guest Relations Team, please
            <a class="text-info" asp-area="Identity" asp-page="/Account/Login">login</a> or
            <a class="text-info" asp-area="Identity" asp-page="/Account/Register">register</a>.
        </h4>
    </div>
}
