@model GRHelper.Web.ViewModels.Administration.Requests.AllRequestsViewModel
@{
    this.ViewData["Title"] = "All requests";
}

<h1>Requests</h1>
<hr />
<div id="searchRequestsDiv">
    <form method="get" asp-area="Administration" asp-controller="Requests" asp-action="AllSearch">
        <div class="form-group">
            <label for="today">Today</label>
            <input name="datePicker" type="radio" id="today" value="today" class="mr-3" checked=@(@Model.DatePicker == "today") />
            <label for="tomorrow">Tomorrow</label> 
            <input name="datePicker" type="radio" id="tomorrow" value="tomorrow" class="mr-3" checked=@(@Model.DatePicker == "tomorrow") />
            <span class="ml-3 mr-3 font-weight-bold">or</span>
                <label for="custom" class="ml-3">Choose dates</label>
                <input name="datePicker" type="radio" id="custom" value="custom" class="mr-3" checked=@(@Model.DatePicker == "custom") />
                <label asp-for="From">From:</label>
                <input asp-for="From" asp-value=@Model.From.ToShortDateString()/>
                <label asp-for="To">To:</label>
                <input asp-for="To" asp-value=@Model.To.ToShortDateString()/>
        </div>
        <div>

        </div>
        <input type="submit" class="btn btn-info" value="Search"/>
    </form>
</div>
<hr />
@if(this.Context.Request.RouteValues["action"].ToString() == "All")
{
    <h2>Requests for today.</h2>
}
else
{
    <h2>@Model.Requests.Count() results found.</h2>
}

<partial name="_RequestsTablePartial" model=@Model.Requests />
