@model IEnumerable<GRHelper.Web.ViewModels.Administration.Requests.RequestListViewModel>
@{
    this.ViewData["Title"] = "Pending requests";
}
<h1>Requests waiting for your attention.</h1>
<hr />
<partial name = "_RequestsTablePartial" />
